@page "/base"
<div class="full-box page-header">
	<h3 class="text-left">
		<i class="fas fa-fire fa-fw"></i> &nbsp; BASE TEMPLATE
	</h3>
	<p class="text-justify">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit nostrum rerum animi natus beatae ex. Culpa blanditiis tempore amet alias placeat, obcaecati quaerat ullam, sunt est, odio aut veniam ratione.
	</p>
</div>