@page "/"

<!-- Page content -->

	<!-- Page header -->
	<div class="full-box page-header">
		<h3 class="text-left">
			<i class="fab fa-dashcube fa-fw"></i> &nbsp; DASHBOARD
		</h3>
		<p class="text-justify">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit nostrum rerum animi natus beatae ex. Culpa blanditiis tempore amet alias placeat, obcaecati quaerat ullam, sunt est, odio aut veniam ratione.
		</p>
	</div>

	<!-- Content -->
	<div class="full-box tile-container">

		<a href="listadmin" class="tile">
			<div class="tile-tittle">List admins</div>
			<div class="tile-icon">
				<i class="fas fa-users fa-fw"></i>
				<p>17 Registered</p>
			</div>
		</a>

		<a href="productlist" class="tile">
			<div class="tile-tittle">List products</div>
			<div class="tile-icon">
				<i class="fas fa-boxes fa-fw"></i>
				<p>50 Registered</p>
			</div>
		</a>

		<a href="#" class="tile">
			<div class="tile-tittle">List clients</div>
			<div class="tile-icon">
				<i class="fas fa-child fa-fw"></i>
				<p>150 Registered</p>
			</div>
		</a>

		<a href="#" class="tile">
			<div class="tile-tittle">List providers</div>
			<div class="tile-icon">
				<i class="fas fa-truck-moving fa-fw"></i>
				<p>9 Registered</p>
			</div>
		</a>

	</div>