@page "/productlist"

<!-- Page header -->
<div class="full-box page-header">
	<h3 class="text-left">
		<i class="fas fa-boxes fa-fw"></i> &nbsp; LIST PRODUCTS
	</h3>
	<p class="text-justify">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit nostrum rerum animi natus beatae ex. Culpa blanditiis tempore amet alias placeat, obcaecati quaerat ullam, sunt est, odio aut veniam ratione.
	</p>
</div>

<div class="container-fluid">
	<ul class="full-box list-unstyled page-nav-tabs">
		<li>
			<a href="product.html"><i class="fas fa-box fa-fw"></i> &nbsp; NEW PRODUCT</a>
		</li>
		<li>
			<a class="active" href="productlist.html"><i class="fas fa-boxes fa-fw"></i> &nbsp; LIST PRODUCTS</a>
		</li>
	</ul>
</div>

<!-- Content here-->
<div class="container-fluid">
	<div class="table-responsive">
		<table class="table table-dark table-sm">
			<thead>
				<tr class="text-center roboto-medium">
					<th>#</th>
					<th>CODE</th>
					<th>NAME</th>
					<th>BRAND</th>
					<th>PRICE</th>
					<th>UPDATE</th>
					<th>DELETE</th>
				</tr>
			</thead>
			<tbody>
				<tr class="text-center">
					<td>1</td>
					<td>012342567</td>
					<td>Product name</td>
					<td>Product brand</td>
					<td>$7.00 USD</td>
					<td>
						<button type="button" class="btn btn-success">
							<i class="fas fa-sync-alt"></i>

						</button>
					</td>
					<td>
						<button type="button" class="btn btn-warning">
							<i class="far fa-trash-alt"></i>
						</button>
					</td>
				</tr>
				<tr class="text-center">
					<td>2</td>
					<td>987654234</td>
					<td>Product name</td>
					<td>Product brand</td>
					<td>$717.00 USD</td>
					<td>
						<button type="button" class="btn btn-success">
							<i class="fas fa-sync-alt"></i>

						</button>
					</td>
					<td>
						<button type="button" class="btn btn-warning">
							<i class="far fa-trash-alt"></i>
						</button>
					</td>
				</tr>
				<tr class="text-center">
					<td>3</td>
					<td>340987651</td>
					<td>Product name</td>
					<td>Product brand</td>
					<td>$100.00 USD</td>
					<td>
						<button type="button" class="btn btn-success">
							<i class="fas fa-sync-alt"></i>

						</button>
					</td>
					<td>
						<button type="button" class="btn btn-warning">
							<i class="far fa-trash-alt"></i>
						</button>
					</td>
				</tr>
				<tr class="text-center">
					<td>4</td>
					<td>109824321</td>
					<td>Product name</td>
					<td>Product brand</td>
					<td>$12.00 USD</td>
					<td>
						<button type="button" class="btn btn-success">
							<i class="fas fa-sync-alt"></i>

						</button>
					</td>
					<td>
						<button type="button" class="btn btn-warning">
							<i class="far fa-trash-alt"></i>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<nav aria-label="Page navigation example">
		<ul class="pagination justify-content-center">
			<li class="page-item disabled">
				<a class="page-link" href="#" tabindex="-1">Previous</a>
			</li>
			<li class="page-item"><a class="page-link" href="#">1</a></li>
			<li class="page-item"><a class="page-link" href="#">2</a></li>
			<li class="page-item"><a class="page-link" href="#">3</a></li>
			<li class="page-item">
				<a class="page-link" href="#">Next</a>
			</li>
		</ul>
	</nav>
</div>